.badge {
    width: 30px;
    height: 30px;
    background-color: tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

.badge-r {    
    width:20px;
    height: 20px;
    border: 2px solid tomato;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}